@import "https://simplify-bootstrap.github.io/style.css";
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/thin/style.css");
@import url("https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/bold/style.css");

:root {
  /* --- Set your font family --- */
  --bs-font-sans-serif: "Red Hat Display", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-color: #000;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-btn-color: var(--bs-white);
  --bs-btn-color-rgb: var(--bs-white-rgb);

  /* --- Set your primary and secondary color --- */
  --bs-primary: #000;
  --bs-primary-rgb: 0, 0, 0;
  --bs-secondary: #666;
  --bs-secondary-rgb: 102, 102, 102;

  /* --- Set your border-radius --- */
  --bs-border-radius: 0.5rem;
}
